{% extends 'main_templates/main_base.html' %}

{% block title %}Illustartors{% endblock %}

{% block content %}
    <h1>Illustrators</h1>
    <section class=" filters">
        <form method="get" action="{% url 'illustrators' %}">
            <label for= "sort">Sort By:</lable>
            <select name="sort" onchange="this.form.submit()">
                <option value="name_asc" {% if current_sort == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if current_sort == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
            </select>

            <label for="country">Filter by Country:</label>
            <select name="country" onchange="this.form.submit()">
                <option value="">All Countries</option>
                {% for code,name in country_choices %}
                    {% if code != '' %}
                    <option value="{{ code }}" {% if current_country == code %}selected{% endif %}>
                        {{ name }}
                    </option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </section>
    <section class="illustrators-grid">
        {% for illustrator in illustrators %}
            <div class="illustrator-card">
                <a href="{% url 'illustrator_details' email=illustrator.email %}">
                    {% with first_image=illustrator.mains_illustrations.first %}
                        {% if first_image %}
                            <img src="{{ first_image.image.url }}" alt="{{ illustrator.get_full_name.title }}">
                        {% endif %}
                    {% endwith %}
                </a>
                <h3>{{ illustrator.get_full_name.title }}</h3>
            </div>
        {% empty %}
            <p>No illustrators found matching your criteria.</p>
        {% endfor %}
    </section>
{% endblock %}