{% extends 'main_templates/main_base.html' %}

{% block title %}Live Bidding{% endblock %}

{% block content %}
    <div class="live-bidding-container">
        <h1>Live Bidding</h1>
        {% for illustration in illustrations %}
            <a href="{% url 'illustration_bidding' illustration.id %}">
                <div class = "illustration-image">
                    <img src="{{ illustration.image }}" alt="{{ illustration.title }}" width="200">
                </div>
            </a>
            <div class="illustration-info">
                <h1>{{ illustration.title }}</h1>
                <p class="category"><strong>Category:</strong> {{ illustration.category.name }}</p>
                <p class="price"><strong>Starting Price:</strong> ${{ illustration.price }}</p>
                <p class="uploaded-by"><strong>Uploaded By:</strong> {{ illustration.uploaded_by.first_name }} {{ illustration.uploaded_by.last_name }}</p>
            </div>
        {% empty %}
            <p>No live auctions available.</p>
        {% endfor %}
    </div>
{% endblock %}